@mixin list-inl($margin) {
    display: inline-block;
    list-style: none;
    margin: $margin;
}

@mixin pr-bld($font-size, $line-height) {
font-family: 'Proxima Nova Rg';
font-weight: 700;
font-style: normal;
font-size: $font-size;
line-height: $line-height;
}

@mixin pr-rg($font-size, $line-height) {
font-family: 'Proxima Nova Rg';
font-weight: 400;
font-style: normal;
font-size: $font-size;
line-height: $line-height;
}

@mixin r-img($width, $height) {
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: $width;
    height: $height;
}