$text: #636363;
$border: #4aaffe;

$mobile-sm: "(max-width: 420px)";
//$mobile-sm-2: "(min-width: 414px) and (max-width: 737px)";
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1025px)";
//$desktop: "(min-width: 1300px)";