.btn {
    @include pr-bld(14px, 34px);
    display: inline-block;
    height: 37px;
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid #276eb5;
    border-radius: 5px;
    box-shadow: 0 2px 11px 0px #acadad;
    background-image: linear-gradient(to bottom, #4c9fe0, #2e81d3);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#4c9fe0, endColorstr=#2e81d3)";
    color: #fff;
    &__blue {
        width: 200px;
        height: 40px;    
        padding-left: 40px;
        cursor: pointer;
        border: none;
        border-bottom: 3px solid #276eb5 !important;
        background: url('../img/ic-get-balans.png') 37px 13px no-repeat, linear-gradient(to bottom, #4c9fe0, #2e81d3) 0 50%;
        &:hover {
            background: url('../img/ic-get-balans.png') 37px 13px no-repeat, linear-gradient(to bottom, #2e81d3, #4c9fe0) 0 50%;
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#2e81d3, endColorstr=#4c9fe0)";
        }
    }
    &__enter {
        @include pr-bld(14px, 32px);
        float: right;
        width: 142px;
        padding-left: 21px;
        margin-top: -3px;
        margin-right: 7%;
        z-index: 100;
        border-bottom: 3px solid #276eb5;
        background: url('../img/enter-ic.png') 39px 9px no-repeat, linear-gradient(to bottom, #4c9fe0, #2e81d3) 0 50%;
        @media #{$mobile} {
            float: none;
            margin-right: 0;
            box-shadow: none;
        }
        &:hover {
            background: url('../img/enter-ic.png') 39px 9px no-repeat, linear-gradient(to bottom, #448fc7, #2870b3) 0 50%;
            border-bottom: 3px solid #215e97;
        }
    }
    &__form {
        width: 295px;
        margin: 10px 0 20px;
        border: none;
        cursor: pointer;
        border-bottom: 3px solid #276eb5;
        box-shadow: 0 1px 2px 0 #7b8892;
        @media #{$mobile} {
            width: 275px;
        }
        &:hover {
            border-bottom: 3px solid #215e97;
            background-image: linear-gradient(to bottom, #448fc7, #286fb2);
        }
    }
    &__send {
        display: block;
//        margin-left: auto;
        width: 142px;
        line-height: 32px;
        padding-left: 21px;
        z-index: 100;
        border: none;
        border-bottom: 3px solid #528c0d;
        background: url('../img/ic-send.png') 21px 10px no-repeat,
                          linear-gradient(to bottom, #80bc20, #63a610);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#80bc20, endColorstr=#63a610)";
        &:hover {
            border-bottom: 3px solid #528c0d;
            background: url('../img/ic-send.png') 21px 10px no-repeat,
                          linear-gradient(to bottom, #63a610, #80bc20);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#63a610, endColorstr=#80bc20)";
        }
        &._decor {
            @include pr-rg(14px,35px);
            width: 200px;
            border: none;
            color: #fff;
            border-radius: 5px;
            margin: 5px auto;
            box-shadow: 0 2px 11px 0px #acadad;
            border-bottom: 3px solid #528c0d;
            background: url('../img/ic-send-2.png') 13px 12px no-repeat,
                          linear-gradient(to bottom, #80bc20, #63a610);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#80bc20, endColorstr=#63a610)";
            &:hover {
            border-bottom: 3px solid #528c0d;
            background: url('../img/ic-send-2.png') 13px 12px no-repeat,
                          linear-gradient(to bottom, #63a610, #80bc20);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#63a610, endColorstr=#80bc20)";
            }
        }
        &._decor-2 {
            margin: 0 0 0 9px;
            height: 40px;
            background: url('../img/ic-mail.png') 16px 13px no-repeat,
                          linear-gradient(to bottom, #80bc20, #63a610);
            @media #{$mobile} {
                margin: 5px auto;
            }
            &:hover {
                background: url('../img/ic-mail.png') 16px 13px no-repeat,
                          linear-gradient(to bottom, #63a610, #80bc20);
            }
        }
        &._decor-3 {
            @include pr-bld(24px, 24px);
            max-width: 340px;
            width: 100%;
            height: 58px;
            margin: 0 auto;
            padding-left: 11px;
            background: linear-gradient(to bottom, #80bc20, #63a610);
            @media #{$mobile} {
                width: 90%;
            }
            &:hover {
                background: linear-gradient(to bottom, #63a610, #80bc20);
            }
        }
        &._hidden {
             display: none;
       }
        &._balans-ic {
            width: 200px;
            height: 40px;
            padding-left: 26px;
            background: url('../img/ic-total-button-1.png') 26px 10px no-repeat,
                      linear-gradient(to bottom, #80bc20, #63a610);
            @media #{$mobile} {
                margin: 10px auto;
            }
            &:hover {
                background: url('../img/ic-total-button-1.png') 26px 10px no-repeat,
                          linear-gradient(to bottom, #63a610, #80bc20);
            }
            }
        &._custom-set {
            width: 200px;
            margin: 28px auto 30px;
            padding: 0;
            cursor: pointer;
            border-bottom: 3px solid #528b0d;
            box-shadow: 0 3px 7px 0 #d2d2d2;
            background: linear-gradient(to bottom, #80bc20, #63a610);
            -ms-filter:
            "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#80bc20, endColorstr=#63a610)";
            &:hover {
                border-bottom: 3px solid #528b0d;
                background: linear-gradient(to bottom, #63a610, #80bc20);
                -ms-filter:
                "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#63a610, endColorstr=#80bc20)";
            }
        }
        &._custom-set {
            margin: 0 auto 30px;
        }
    }
    &._width-1 {
        display: block;
        width: 200px;
        text-align: center;
        margin: 10px auto 15px;
        }
    &._green {
        margin-top: 20px;
        border-bottom: 3px solid #528c0d;
        background: linear-gradient(to bottom, #80bc20, #63a610);
    }
    &._green-2 {
        @include pr-bld(14px, 40px);
        margin: 0;
        padding: 0;
        width: 200px;
        height: 40px;
        cursor: pointer;
        color: #fff;
        border-bottom: 3px solid #528c0d;
        background: linear-gradient(to bottom, #80bc20, #63a610);
        &:hover {
            background: linear-gradient(to bottom, #63a610, #80bc20);
        }
        @media #{$mobile} {
            display: block;
            margin: 0 auto;    
            }
    }
    &__input-file {
        @include pr-bld(14px, 37px);
        padding: 0;
        padding-left: 28px;
        margin-left: 2px;
        margin-bottom: 20px;
        width: 200px;
        height: 39px;
        cursor: pointer;
        border-bottom: 3px solid #276eb5;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 3px 7px 0 #d2d2d2;
        background: url('../img/ic-upload.png') 53px 12px no-repeat, linear-gradient(to bottom, #4c9fe0, #2e81d3);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#4c9fe0, endColorstr=#2e81d3)";
        overflow: hidden;
        z-index: 1;
        color: #fff;
        &:hover {
            background: url('../img/ic-upload.png') 53px 12px no-repeat, linear-gradient(to bottom, #2e81d3, #4c9fe0);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=##2e81d3, endColorstr=#4c9fe0)";
        }
        input {
            position: relative;
            opacity: 0;
            font-size: 200px;
            top: -44px;
            left: -28px;
            width: 200px;
            height: 37px;
            padding: 0;
            border: 0 none;
            cursor: pointer;
        }
    }
    &__save {
        width: 200px;
        height: 39px;
        padding-left: 34px;
        border: none;
        cursor: pointer;
        border-bottom: 3px solid #528c0d;
        box-shadow: 0 3px 7px 0 #d2d2d2;
        background: url('../img/ic-btn-save.png') 55px 12px no-repeat, linear-gradient(to bottom, #80bc20, #63a610);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=##80bc20, endColorstr=#63a610)";
        &:hover {
            background: url('../img/ic-btn-save.png') 55px 12px no-repeat, linear-gradient(to bottom, #63a610, #80bc20);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=##80bc20, endColorstr=#63a610)";
        }
    }
    &__delete {
        max-width: 280px;
        width: 100%;
        border: none;
        border-bottom: 3px solid #db2b2b;
        cursor: pointer;
        box-shadow: 0 3px 7px 0 #d2d2d2;
        background: url('../img/ic-delete-acc.png') 55px 12px no-repeat, linear-gradient(to bottom, #ff5050, #ff3333);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=##ff5050, endColorstr=#ff3333)";
        &:hover {
            background: url('../img/ic-delete-acc.png') 55px 12px no-repeat, linear-gradient(to bottom, #ff3333, #ff5050);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=##ff3333, endColorstr=#ff5050)";
        }
        &._center {
            display: block;
            margin: 25px auto 30px;
        }
    }
}