body {
    font-family: 'Proxima Nova Rg';
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

ul, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.center {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.nicescroll-rails {
    background: #e1f2ff !important;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.slimScrollBar {
    opacity: 1 !important;
}

//placeholder

::-webkit-input-placeholder {
    color: $text;
    font-size: 14px;
    text-overflow: ellipsis;
}
::-moz-placeholder          {
    color: $text;
    font-size: 14px;
    text-overflow: ellipsis;
}/* Firefox 19+ */
:-moz-placeholder           {
    color: $text;
    font-size: 14px;
    text-overflow: ellipsis;
}/* Firefox 18- */
:-ms-input-placeholder      {
    color: $text;
    font-size: 14px;
    text-overflow:ellipsis;
}

::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.test-windows-block {
    width: 300px;
    margin: 50px auto;
    border: 1px solid gray;
    a {
        display: block;
    }
}

