.about-us {
    min-height: 665px;
    border-top: 1px solid transparent;
    background: url('../img/about.jpg') center no-repeat;
    background-size: cover;
    h3 {
        @include pr-bld(25px, 28px);
        margin: 94px 0 10px;
        padding-left: 12px;
        text-align: center;
        color: #fff;
        @media #{$mobile} {
            margin-top: 30px;
        }
    }
    h4 {
        @include pr-rg(20px, 20px);
        margin-bottom: 41px;
        padding-left: 8px;
        text-align: center;
        color: #fff;
        @media #{$mobile} {
            margin-bottom: 10px;
        }
    }
    &__text {
        @include pr-rg(16px, 19px);
        width: 460px;
        margin: 20px auto;
        text-align: left;
        color: #fff;
        @media #{$mobile} {
            width: auto;
            padding: 10px;
        }
    }
}