.additional {
    padding-bottom: 13px;
    @media #{$tablet} {
        text-align: center;
    }
    &._custom-set {
        max-width: 960px;
        width: 100%;
        margin: 0 auto 60px;
        border-radius: 5px;
        border: 1px solid #4aaffe;
        background: #f3faff;
        @media #{$mobile} {
//            width: 90%;
        }
    }
    &__label {
        display: block;
    }
    &__input {
        display: inline-block;
        max-width: 280px;
        width: 100%;
        margin-left: -4px;
        margin-right: 30px;
        @media #{$tablet} {
            max-width: 230px;
            margin-left: 0;
        }
        @media #{$mobile} {
            margin: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}