.benefits {
    min-height: 295px;
    line-height: 295px;
    background: #fff;
    @media #{$mobile} {
        line-height: 200px;
    }
    &._height-2 {
        min-height: 275px;
        line-height: 262px;
        @media #{$mobile} {
            max-height: 1035px;
            line-height: 210px;
        }
        @media #{$tablet} {
            line-height: 160px;
        }
    }
    &__list {
        margin: 0;
        text-align: center;
        font-size: 0;
        line-height: 0;
        padding: 73px 0 0px;
        &._margin-2 {
            margin-top: -11px;
        }
        li {
            @include list-inl(0 10px 0 0);
            width: 180px;
            line-height: normal;
            vertical-align: middle;
            text-align: center;
            margin: 0 30px;
            @media #{$mobile} {
                margin: 0 0 50px;
            }
            @media #{$tablet} {
                    margin: 20px!important;
                }
        }
    }
    &__ic-1 {
        margin: 0 auto 15px;
        width: 150px;
        height: 100px;
        background: url('../img/benefits-1.png') center no-repeat;
    }
    &__ic-2 {
        margin: 0 auto 15px;
        width: 150px;
        height: 100px;
        background: url('../img/benefits-2.png') center no-repeat;
    }
    &__ic-3 {
        margin: 0 auto 15px;
        width: 150px;
        height: 100px;
        background: url('../img/benefits-3.png') center no-repeat;
    }
    &__ic-4 {
        margin: 0 auto;
        width: 150px;
        height: 100px;
        background: url('../img/benefits-4.png') center no-repeat;
    }
    &__descr {
        @include pr-rg(19px, 25px);
        display: block;
        margin-top: 10px;
        color: $text;
    }
}