.all-friends {
    max-width: 960px;
    width: 100%;
    margin: 0 auto 160px;
    padding-bottom: 3px;
    border: 1px solid #4aaffe;
    border-radius: 5px;
    overflow: hidden;
    background: #f3faff;
    &._mt {
            margin-top: 40px;
            margin-bottom: 60px;
        }
    @media #{$tablet} {
        margin-bottom: 30px;
    }
    @media #{$mobile} {
        margin-bottom: 30px;
    }
    
    &__left {
        float: left;
        width: 44%;
        @media #{$mobile} {
            float: none;
            display: block;
            margin-bottom: 5px;
            width: 50%;
        }
        
    }
    
    &__right {
        width: 55%;
        float: right;
        text-align: left;
        @media #{$mobile} {
            position: static;
            float: none;
            display: block;
            margin: 10px 0;
        }
    }
    
    &__wrapper {
        max-height: 918px;
        overflow-y: scroll;
        &._height {
            max-height: 1073px;
        }
    }
    &__header {
        margin-bottom: 10px;
    }
    &__list {
        li {
            position: relative;
            padding-left: 19px;
            min-height: 80px;
            line-height: 80px;
            @media #{$mobile} {
                padding-left: 0;
                line-height: 50px;
        }
            &::before {
                position: absolute;
                content: '';
                bottom: 0;
                left: 20px;
                right: 20px;
                height: 1px;
                background: #4aaffe;
            }
        }
    }
    &__user-ic {
        display: inline-block;
        margin-right: 16px;
        width: 60px;
        height: 60px;
        border: 3px solid #4aaffe;
        border-radius: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &._bigger {
            width: 80px;
            height: 80px;
            border: 3px solid #860f89;
            @media #{$mobile} {
                margin-right: 5px;
            }
        }
        &._blue-border {
            border: 3px solid #4aaffe;
        }
    }
    &__user-personal {
        display: inline-block;
        width: 235px;
        padding-top: 9px;
        vertical-align: top;
        &._more-padding {
            padding-top: 20px;
        }
        &._mobile {
            display: inline-block;
            width: auto;
            @media #{$mobile} {
                width: 135px;
            }
        }
        @media #{$mobile} {
            width: 215px;
        }
    }
    &__user,
    &__info,
    &__message {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    &__user {
        max-width: 320px;
        width: 100%;
        &._m-bottom {
            margin-bottom: 10px;
            overflow: hidden;
        }
        @media #{$mobile} {
            margin-top: 10px;
            margin-left: 5px;
            margin-bottom: 10px;
            width: 95%;
            white-space: normal;
            overflow: auto;
        }
    }
    &__info {
        max-width: 320px;
        width: 100%;
        margin-top: -9px;
        margin-left: 16px;
        &-container {
            display: inline-block;
            &:hover {
                cursor: pointer;
                background: #e1f2ff;
            } 
        }
        &._custom-set {
            margin-right: 25px;
            max-width: 410px;
            width: 100%;
            height: 30px;
            overflow: hidden;
            @media #{$mobile} {
                width: 90%;
        }
        @media #{$mobile} {
            width: 80%;
            margin-left: 15px;
            white-space: nowrap;
            text-overflow: ellipsis;
            &._custom-set {
                white-space: normal;
            }
        }
    }
    }
    &__friends {
        @include pr-bld(16px, 16px);
        padding-left: 25px;
        background: url('../img/f-state-ic1-sm.png') 0 0 no-repeat;
        color: $text;
        @media #{$mobile} {
            padding-left: 31px;
        }
    }
    &__amount {
        @include pr-bld(16px, 16px);
        position: relative;
        width: 55px;
        display: inline-block;
        color: $text;
        &::after {
            position: absolute;
            content: '|';
            font-weight: normal;
            top: 3px;
            right: 0;
            @media #{$mobile} {
                position: static;
                content: none;
            }
        }
    }
    &__status-ic {
        position: relative;
        display: inline-block;
        margin-left: 10px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        @media #{$mobile} {
            margin-left: 3px;
        }
        
        &._green {
            background: #72b316;
        }
        &._pink {
            background: #d460e9;
        }
        &._red {
            background: #fe5b5b;
        }
    }
    &__status-wrapper {
        position: relative;
        &:hover {
            &::before {
                position: absolute;
                content: '';
                left: 5px;
                bottom: -14px;
                width: 24px;
                height: 13px;
                background: url(../img/arr-tooltip.png) 0 0 no-repeat;
                z-index: 99;
        }
            &::after {
            @include pr-rg(16px, 30px);
                position: absolute;
                content: attr(data-title);
                width: 140px;
                height: 30px;
                text-align: center;
                left: -20px;
                bottom: -45px;
                border: 2px solid #4aaffe;
                border-radius: 5px;
                background: #fff;
                color: #000;
                z-index: 98;
            }
            @media #{$mobile} {
            &::before {
                left: 50px;
            }
            &::after {
                left: 0;
            }
        }
        }
    } 
    &__status-text {
        @include pr-rg(16px, 16px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $text;
        @media #{$mobile} {
            padding-left: 11px;
        }
    }
    &__user {
        &-name {
            @include pr-bld(20px, 20px);
            display: block;
            padding-bottom: 5px;
//            white-space: nowrap;
            overflow: hidden; 
            text-overflow: ellipsis;
            color: $text;
            &._mobile {
                @media #{$mobile} {
                    font-size: 16px;
                    white-space: pre-line;
                }
            }
        }
        &-state {
            @include pr-rg(14px, 14px);
            &._green {
                color: #65a710;
            }
        }
        &-ic-timing {
            display: inline-block;
            margin-top: 2px;
            width: 15px;
            height: 15px;
            vertical-align: top;
            background: url('../img/ic-timing.png') 0 0 no-repeat;
            // toogle classes
            &.display {
                display: inline-block;
            }
            &.not-display {
                display: none;
            }
        }
        &-time {
            @include pr-rg(14px, 14px);
            color: $text;
        }
        &-date {
            @include pr-rg(14px, 14px);
            color: $text;
        }
    }
    &__message {
        width: 210px;
        margin-top: -13px;
        margin-left: 36px;
        &._custom-set {
            width: 130px;
            margin: 0;
            margin-top: -19px;
            margin-left: 28px;
            @media #{$mobile} {
                width: 180px;
                margin-left: 40px;
            }
        }
        
    }
    &__sent-message {
        @include pr-rg(16px, 16px);
        position: relative;
        margin-left: 10px;
        border-bottom: 1px solid #d8dbdf;
        color: $text;
        
        &._custom-set {
            display: inline-block;
            position: static;
            border-bottom: none;
//            width: 40px;
            &:hover {
                text-decoration: underline;
                border-bottom: none;
                color: $text;
            }
        }
        // add class when there are no new messages
        &.empty-msg {
            position: relative;
            &::before {
                position: absolute;
                content: '';
                left: -31px;
                top: 1px;
                width: 19px;
                height: 15px;
                background: url('../img/ic-mail-empty.png') 0 0 no-repeat;
            }
        }
        // add class when there are new messages
        &.new-msg {
            position: relative;
            &::before {
                position: absolute;
                content: '';
                left: -31px;
                top: 1px;
                width: 19px;
                height: 15px;
                background: url('../img/f-state-ic-sms.png') 0 0 no-repeat;
            }
        }
        &:hover {
            color: #4aaffe;
            border-bottom: 1px solid #bbe1ff;
        }
        &::before {
            position: absolute;
            content: '';
            left: -31px;
            top: 3px;
            width: 19px;
            height: 15px;
            background: url('../img/f-state-ic-sms.png') 0 0 no-repeat;
        }
    }
    
    // for friends-msg page
    &__inbox-wrapper {
        
    }
    &__info-wrapper {
        &._d-table {
            display: table;
            width: 100%;
        }
    }
    &__small-logo {
        display: table-cell;
        width: 1%;
        vertical-align: top;
        &-ic {
            @include r-img(30px, 30px);
            border: 2px solid #4aaffe;
        }
    }
    &__last-msg {
        display: table-cell;
        width: 99%;
        padding-left: 10px;
        vertical-align: top;
        &-text {
            @include pr-rg(14px, 16px);
            position: relative;
            max-width: 375px;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $text;
        }
    }
    &__inbox {
        @include pr-rg(18px, 18px);
        &-new {
            @include pr-bld(18px, 18px);
            display: inline-block;
//            max-width: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: sub;
            color: $text;
        }
    }
    &__container {
        display: inline-block;
        max-width: 80px;
        width: 100%;
    }
    &__brackets {
        @include pr-rg(18px, 18px);
    }
    &__status {
        &-online {
            @include pr-rg(13px, 14px);
            display: inline-block;
            margin-top: 5px;
            color: #65a710;
        }
        &-time {
            @include pr-rg(13px, 14px);
            color: $text;
        }
        &-date {
            @include pr-rg(13px, 14px);
            color: $text;
        }
    }
    &__delete {
            position: relative;
            top: 18px;
        
        &-ic {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 30px;
            background: url('../img/ic-delete-static.png') 0 0 no-repeat;
            &:hover {
                background: url('../img/ic-delete-hover.png') 0 0 no-repeat;
            }
            &:hover {
            &::before {
                position: absolute;
                content: '';
                left: 3px;
                bottom: -14px;
                width: 24px;
                height: 13px;
                background: url(../img/arr-tooltip.png) 0 0 no-repeat;
                z-index: 99;
        }
            &::after {
            @include pr-rg(16px, 30px);
                position: absolute;
                content: attr(data-title);
                width: 200px;
                height: 30px;
                text-align: center;
                left: -170px;
                bottom: -45px;
                border: 2px solid #4aaffe;
                border-radius: 5px;
                background: #fff;
                color: #000;
                z-index: 98;
                @media #{$mobile} {
                    left: -90px;
                }
                }
            }
        }
    }
}

.fancybox-inner {
            overflow: visible !important;
    }