.balans {
    float: right;
    max-width: 457px;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid $border;
    border-radius: 5px;
    background: #e1f2ff;
    @media #{$tablet} {
        float: none;
        max-width: 475px;
        margin: 0 auto 10px;
    }
    @media #{$mobile} {
        float: none;
        max-width: 475px;
        margin: 0 auto 10px;
    }
    &__button-wrapper {
        @media #{$mobile} {
            text-align: center;
        }
    }
    &__total {
        @include pr-bld(24px, 28px);
        padding-left: 67px;
        width: 145px;
        margin: 0 auto 22px;
        color: $text;
        background: 
            url('../img/ic-total.png') 3px 0 no-repeat,
            url('../img/ic-total-2.png') 37px 0 no-repeat;
    }
    &__left {
        float: left;
        @media #{$mobile} {
            float: none;
        }

    }
    &__right {
        float: right;
        @media #{$mobile} {
            float: none;
        } 

    }
    &__total-history {
        margin-top: 18px;
        text-align: center;
        a {
            @include pr-rg(16px, 18px);
            position: relative;
            padding-left: 24px;
            text-decoration: underline;
            color: $text;
            background: url('../img/ic-imp.png') 2px 1px no-repeat;
        }
    }
}