.confirmation {
    &._custom-set {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
        border: 1px solid #4aaffe;
        border-radius: 5px;
        background: #f3faff;
        @media #{$mobile} {
            width: 98%;
        }
    }
    &._mt {
        margin-top: 40px;
        @media #{$mobile} {
            margin-top: 20px;
        }
    }
    &._mt-2 {
        margin-top: 35px;
        @media #{$mobile} {
            margin-top: 20px;
        }
    }
    &._mb {
        margin-bottom: 40px;
    }
    &__email {
        &-text {
            text-align: center;
        }
        &-msg {
            @include pr-bld(16px, 24px);
            padding: 24px 10px;
            color: $text;
            @media #{$mobile} {
                font-size: 14px;
            }
        }
    }
    &__phone {
        &-text {
            text-align: center;
        }
        &-msg {
            @include pr-bld(16px, 24px);
            padding: 23px 10px 14px;
            color: $text;
            @media #{$mobile} {
                font-size: 14px;
            }
        }
        input {
            @include pr-rg(16px, 40px);
            height: 40px;
            padding: 0 25px 0 20px;
            color: $text;
            background: #fff url('../img/ic-pensil.png') 98% 12px no-repeat;
        }
    }
    
            ::-webkit-input-placeholder {
                color: #bbbbbb;
                font-size: 16px;
                font-weight: normal;
                text-overflow: ellipsis;
            }
            ::-moz-placeholder          {
                color: #bbbbbb;
                font-size: 16px;
                font-weight: normal;
                text-overflow: ellipsis;
            }/* Firefox 19+ */
            :-moz-placeholder           {
                color: #bbbbbb;
                font-size: 16px;
                font-weight: normal;
                text-overflow: ellipsis;
            }/* Firefox 18- */
            :-ms-input-placeholder      {
                color: #bbbbbb;
                font-size: 16px;
                font-weight: normal;
                text-overflow:ellipsis;
            }
    
}