.countdown-timer {
    min-height: 360px;
    background: #4aaffe;
    text-align: center;
    @media #{$tablet} {
        padding-bottom: 20px;
    }
    @media #{$mobile} {
        padding-bottom: 20px;
    }
    &__wrapper {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
        border-top: 1px solid transparent;
    }
    &__title {
        @include pr-bld(40px, 40px);
        margin: 35px 0 0px;
        padding-bottom: 30px;
        padding-left: 9px;
        text-transform: uppercase;
        color: #fff;
        @media #{$mobile} {
            margin: 10px 0 20px;
            font-size: 25px;
        }
        &._hidden {
            display: none;
        }
        &._width {
            max-width: 690px;
            width: 100%;
            margin: 40px auto 0;
            line-height: 50px;
        }
    }
    .flip-clock-wrapper {
        margin: 1em auto;
        width: 70%;
        @media #{$tablet} {
            width: auto;
        }
        @media #{$mobile} {
            width: auto;
            margin: 0 auto;
        }
    }
    .flip-clock-label {
        color: #fff !important;
    }
    .flip-clock-wrapper {
        @include pr-bld(20px, 20px);
        text-transform: uppercase !important;
        padding-left: 30px !important;
        @media #{$mobile} {
            padding-left: none !important;
        }
        ul {
            width: 59px !important;
            height: 85px !important;
            font-size: 50px !important;
            font-weight: normal !important;
            @media #{$mobile} {
                width: 49px !important;
                height: 65px !important;
            }
        }
        li {
            @media #{$mobile} {
                line-height: 70px !important;
            }
        }
        div.inn {
            font-size: 60px !important;
            color: #e4e5e6 !important;
            background: #515760 !important;
            @media #{$mobile} {
                font-size: 40px !important;
            }
        }
        .flip {
            box-shadow: 0 5px 0px #3b4046 !important;
        }
        .flip-clock-dot.top,
        .flip-clock-dot.bottom {
            display: none;
        }
    }
        .flip-clock-divider.days {
            > span.flip-clock-label {
                @media #{$tablet} {
                    right: -100px !important;
                }
                @media #{$mobile} {
                    position: absolute !important;
                    top: -30px !important;
                    right: -90px !important;
                }
            }
    }
        .flip-clock-divider.hours {
            > span.flip-clock-label {
                @media #{$tablet} {
                    right: -105px !important;
                }
                @media #{$mobile} {
                    position: absolute !important;
                    top: -30px !important;
                    right: -93px !important;
                }
            }
        }
    .flip-clock-divider.minutes {
            > span.flip-clock-label {
                @media #{$tablet} {
                    right: -105px !important;
                }
                @media #{$mobile} {
                    top: 192px !important;
                    right: 178px !important;
                }
            }
        }
    .flip-clock-divider.seconds {
            > span.flip-clock-label {
                @media #{$tablet} {
                    right: -107px !important;
                }
                @media #{$mobile} {
                    top: 92px !important;
                    right: -98px !important;
                }
            }
        }
    &__button {
        margin-top: 38px;
        @media #{$mobile} {
            margin-top: 60px;
        }
        &._hidden {
            display: none;
        }
    }
    &__watch {
        max-width: 670px;
        @media #{$tablet} {
            max-width: 670px
        }
        @media #{$mobile} {
            max-width: 316px;
        }
    }
}
    