.first-screen {
    @include pr-bld(56px, 63px);
    position: relative;
    height: 732px;
    padding-top: 30px;
    overflow: hidden;
    background: url('../img/first-scr-3.jpg') 0 0 no-repeat;
    background-size: cover;
    @media #{$mobile} {
        text-align: center;
    }
    &._height-2 {
        height: 703px;
    }
    &__welcome {
        @include pr-rg(25px, 25px);
        position: relative;
        display: block;
        float: left;
        margin-left: 8.2%;
        color: #fff;
        z-index: 10;
        @media #{$mobile} {
            float: none;
            margin-left: 0;
        }
    }
    &__title {
        position: absolute;
        width: 383px;
        height: 383px;
        margin-left: -180px;
        left: 50%;
        top: 175px;
        text-align: center;
        border: 3px solid #fff;
        border-radius: 100%;
        background: rgba(64, 150, 222, .3);
        z-index: 5;
        @media #{$mobile} {
            width: 300px;
            height: 300px;
            margin-left: -150px;
        }
        &._video-decor {
            &:hover {
                background: rgba(220, 224, 229, .9);
            }
        }
    }
    &__bg-1 {
        position: absolute;
        width: 960px;
        height: 960px;
        margin-left: -480px;
        left: 50%;
        top: -80px;
        border-radius: 100%;
        background: rgba(0, 0, 0, .1);
        z-index: 4;
        &._light {
            background: rgba(255, 255, 255, .15);
        }
    }
    &__bg-2 {
        position: absolute;
        width: 1320px;
        height: 1320px;
        margin-left: -660px;
        left: 50%;
        bottom: -360px;
        border-radius: 100%;
        background: rgba(0, 0, 0, .1);
        z-index: 3;
        &._light {
            background: rgba(255, 255, 255, .15);
        }
    }
    &__bg-3 {
        position: absolute;
        width: 1662px;
        height: 1662px;
        margin-left: -831px;
        left: 50%;
        top: -450px;
        border-radius: 100%;
        background: rgba(0, 0, 0, .1);
        z-index: 2;
        &._light {
            background: rgba(255, 255, 255, .15);
        }
    }
    h1 {
        @include pr-bld(56px, 63px);
        padding-top: 126px;
        color: #fff;
        text-transform: uppercase;
        @media #{$mobile} {
            padding-top: 85px;
        }
        span {
            @include pr-rg(60px, 60px);
            color: #fff;
            text-transform: uppercase;
        }
    }
    &__enter {
        position: relative;
        z-index: 100;
    }
}