.footer {
    height: 170px;
    background: #fff;
    &._line {
        border-top: 1px solid #e4e4e4;
        
    }
    @media #{$mobile} {
        text-align: center;
        padding-bottom: 10px;
    }
    @media #{$tablet} {
        text-align: center;
    }
    &__copyright {
        @include pr-rg(20px, 20px);
        float: left;
        margin: 0;
        line-height: normal;
        vertical-align: middle;
        padding-top: 76px;
        &._margin {
            margin-top: 43px;
            margin-left: 18px;
            margin-right: 45.8%;
            @media #{$mobile} {
                margin-right: 0;
                margin-top: 0;
            }
        }
        @media #{$mobile} {
            margin: 10px 0;
            float: none;
            padding: 0;
        }
        @media #{$tablet} {
            display: block;
            margin: 10px 0;
        }
    }
    &__list {
        float: right;
        margin-top: 29px;
        line-height: normal;
        vertical-align: middle;
        cursor: pointer;
        &._padding {
            padding-top: 3px;
        }
        @media #{$mobile} {
            margin: 0 auto 10px;
            float: none;
        }
        li {
            @include list-inl(0 0% 0 0);
            width: 108px;
            text-align: center;
            &:nth-child(1) {
                margin-right: 24px;
                @media #{$mobile} {
                    margin: 10px;
                }
            }
            &:nth-child(2) {
                margin-right: 15px;
                @media #{$mobile} {
                    margin: 10px;
                }
            }
            &:nth-child(3) {
                @media #{$mobile} {
                    width: 80px;
                }
            }
        }
        a {
            @include pr-rg(16px, 18px);
            text-align: center;
            color: #b5b5b5;
            i {
                display: block;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__ic-1 {
        margin: 0 auto 7px;
        width: 57px;
        height: 63px;
        background: url('../img/footer-1.png') center no-repeat;
    }
    &__ic-2 {
        margin: 0 auto;
        width: 57px;
        height: 63px;
        background: url('../img/footer-2.png') 0 -6px no-repeat;
    }
    &__ic-3 {
        margin: 0 auto;
        width: 57px;
        height: 63px;
        background: url('../img/footer-3.png') 4px -7px no-repeat;
    }
    &._decor {
        margin-top: 57px;
        @media #{$tablet} {
            margin-top: 50px;
        }
        @media #{$mobile} {
            margin-top: 20px;
        }
    }
}