.form {
    margin-top: 14px;
    &__change {
        background: rgba(0, 0, 0, 0) url("../img/ic-pensil.png") no-repeat scroll 0 0;
        height: 12px;
        position: absolute;
        right: 18px;
        top: 18px;
        width: 12px;
        z-index: 1;
    }
    &__input-wrapper {
        position: relative;
        display: block;
        // &.valid {
        //     margin: 0;
        //     .form__hint {
        //         position: absolute;
        //         left: -40px;
        //         top: 18px;
        //         width: 20px;
        //         height: 20px;
        //         background: url('../img/ic-valid.png') 0 0 no-repeat;
        //     }
        // }
        // &.error {
        //     margin: 0;
        //     .form__hint {
        //         background: rgba(0, 0, 0, 0) url("../img/ic-invalid.png") no-repeat scroll 0 0;
        //         height: 20px;
        //         left: -35px;
        //         position: absolute;
        //         top: 18px;
        //         width: 20px;
        //     }
        // }
    }
    &__inner {
        width: 295px;
        margin: 0 auto;
    // styles for form at settings.html
        &._custom-set {
            max-width: 900px;
            width: 100%;
            @media #{$mobile} {
                text-align: center;
            }
            ._bgless {
                input {
                    background: #fff;
                }
            }
            input {
                @include pr-rg(14px, 14px);
                margin-top: 5px;
                padding-left: 20px;
                padding-right: 35px;
                height: 40px;
                background: #fff url(../img/ic-pensil.png) 96% 12px no-repeat;
                color: $text;
            }
            
            ::-webkit-input-placeholder {
                color: $text;
                font-size: 16px;
                font-weight: bold;
                text-overflow: ellipsis;
            }
            ::-moz-placeholder          {
                color: $text;
                font-size: 16px;
                font-weight: bold;
                text-overflow: ellipsis;
            }/* Firefox 19+ */
            :-moz-placeholder           {
                color: $text;
                font-size: 16px;
                font-weight: bold;
                text-overflow: ellipsis;
            }/* Firefox 18- */
            :-ms-input-placeholder      {
                color: $text;
                font-size: 16px;
                font-weight: bold;
                text-overflow:ellipsis;
            }
    }
        &._custom-set-2 {
            max-width: 900px;
            width: 100%;
            input {
                @include pr-rg(14px, 14px);
                margin-top: 5px;
                padding-left: 20px;
                height: 40px;
                background: #fff url(../img/ic-pensil.png) 96% 12px no-repeat;
                color: $text;
            }

            &._bgless {
                input {
                    background: #fff;
                }
            }
            
            ::-webkit-input-placeholder {
                color: #bbbbbb;
                font-size: 16px;
                font-weight: normal;
                text-overflow: ellipsis;
            }
            ::-moz-placeholder          {
                color: #bbbbbb;
                font-size: 16px;
                font-weight: normal;
                text-overflow: ellipsis;
            }/* Firefox 19+ */
            :-moz-placeholder           {
                color: #bbbbbb;
                font-size: 16px;
                font-weight: normal;
                text-overflow: ellipsis;
            }/* Firefox 18- */
            :-ms-input-placeholder      {
                color: #bbbbbb;
                font-size: 16px;
                font-weight: normal;
                text-overflow:ellipsis;
            }
    }
        
        @media #{$mobile} {
            width: 265px;
        }
        input {
            @include pr-rg(14px, 14px);
            width: 100%;
            height: 30px;
            padding-left: 7px;
            margin-bottom: 3px;
            border-radius: 4px;
            border: 1px solid #3991db;
            outline: none;
            color: $text;
            &:focus {
                border: 1px solid #2f7000;
            }
        }
        &._custom-set-3 {
            max-width: 436px;
            width: 100%;
            margin: 0 auto;
        }
    }
    &__name-block {
        position: relative;
        margin: 0 0 21px;
        em {
            @include pr-rg(14px, 14px);
            display: block;
            height: 15px;
            margin: 3px 0;
            text-align: left;
            color: #ff0000;
        }
        &._mb {
            margin-bottom: 14px;
            > label {
                @include pr-rg(16px, 16px);
                color: $text;
                display: block;
                margin: 0 0 3px 0;
            }
        }
        &._mb-c {
            margin-bottom: 23px;
            > label {
                margin-bottom: 6px;
            }
        }
        &._mt {
            margin-top: 40px;
        }
        &.valid {
            margin: 0;
            .form__hint {
                position: absolute;
                left: -40px;
                top: 5px;
                width: 20px;
                height: 20px;
                background: url('../img/ic-valid.png') 0 0 no-repeat;
            }
        }
        &.error {
            margin: 0;
            .form__hint {
                background: rgba(0, 0, 0, 0) url("../img/ic-invalid.png") no-repeat scroll 0 0;
                height: 20px;
                left: -35px;
                position: absolute;
                top: 10px;
                width: 20px;
            }
        }
    }
    em,
    &__validation-res {
        @include pr-rg(14px, 14px);
        display: block;
        height: 15px;
        margin: 3px 0;
        text-align: left;
        color: #ff0000;
    }
    &__agree {
        @include pr-rg(12px, 14px);
        padding-top: 2px;
        width: 270px;
        margin: 0 auto;
        text-align: center;
        color: $text;
    }
    // styles for form at settings.html
    &__avatar {
        margin-bottom: 20px;
        @media #{$mobile} {
            text-align: center;
        }
    }
    &__left,
    &__right {
        display: inline-block;
        max-width: 440px;
        width: 100%;
        vertical-align: top;
        @media #{$tablet} {
            display: block;
            margin: 0 auto;
        }
        @media #{$mobile} {
            display: block;
            margin: 0 auto;
        }
    }
    &__left {
        float: left;
        @media #{$tablet} {
            float: none;
        }
        @media #{$mobile} {
            float: none;
            width: 100%;
            padding: 0 15px;
        }
    }
    &__right {
        float: right;
        max-width: 435px;
        width: 100%;
        margin: -4px 0 0 0;
        @media #{$tablet} {
            float: none;
            margin: 0 auto;
        }
        @media #{$mobile} {
            float: none;
            padding: 0 15px;
            margin: 0 auto;

        }
    }
    &__user-img {
        display: inline-block;
        width: 215px;
        height: 215px;
        margin-right: 20px;
        border: 3px solid #4aaffe;
        border-radius: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media #{$mobile} {
            margin: 0 10px 20px;
        }
    }
    &__add-avatar {
        position: relative;
        display: inline-block;
        width: 200px;
        vertical-align: top;
    }
    &__appeal {
        @include pr-bld(16px, 16px);
        color: $text;
        margin: -3px 0 12px 4px;
    }
    &__descr {
        @include pr-rg(14px, 17px);
        margin-bottom: 25px;
        margin-left: 4px;
        color: $text;
    }
    &__birthday {
        margin-bottom: 14px;
        @media #{$mobile-sm} {
//            padding-top: 30px;
        }
    }
    &__select {
        &-day,
        &-month,
        &-year,
        &-gender,
        &-country,
        &-timezone {
            display: inline-block;
            width: 135px;
            height: 38px;
            margin-left: -4px;
            margin-right: 15px;
            @media #{$mobile} {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
            &:first-of-type {
                margin-left: 0;
            }
            &:last-of-type {
                margin-right: 0;
            }
            .selectric {
                border: 1px solid #000;
                border-radius: 4px;
                border: 1px solid #3991db;
                background: #fff;
                &:hover {
                    border: 1px solid #3991db;
                }
                &:active {
                    border: 1px solid #2f7000;
                }
                .label {
                    @include pr-rg(16px, 38px);
                    padding-left: 9px;
                    color: $text;
                }
                .button {
                    background: url('../img/ic-select-arr.png') 11px 14px no-repeat;
                    &::after {
                        content: none;
                    }
                }
            }
            .selectric-items {
                border: 1px solid #99b6ce;
                li {
                    @include pr-rg(14px, 16px);
                    border: none;
                    border-bottom: 1px solid #99b6ce;
                    background: #fff !important;
                    &:last-child {
                        border-bottom: none;
                    }
                }
            } 
        }
        &-title {
            @include pr-rg(16px, 16px);
            display: block;
            margin-bottom: 7px;
            color: $text;
            @media #{$mobile} {
                text-align: center;
            }
        }
        &-gender,
        &-country {
            width: 99%;
        }
        &-timezone {
            width: 100%;
        }
    }
    &__gender {
        margin-bottom: 14px;
    }
    &__timezone {
        // margin-top: -3px;
    }
    &__btn-block {
        margin-right: 30px;
//        float: right;
        text-align: right;
        margin-top: 26px;
        @media #{$tablet} {
            float: none;
            display: block;
            margin-right: 0;
            text-align: center;
        } 
        @media #{$mobile} {
            float: none;
            display: block;
            margin-right: 0;
            text-align: center;
        }
    }
    &__avatar-container {
        position: relative;
    }
    &__avatar-result {
        @include pr-rg(16px, 16px);
        display: inline-block;
//        position: absolute;
        padding-left: 25px;
        max-width: 183px;
        width: 100%;
//        top: 55px;
        vertical-align: top;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background: url('../img/ic-picture.png') 0 0 no-repeat;
        color: $text;
    }
    .js-close {
//        position: absolute;
        display: inline-block;
        width: 15px;
        height: 14px;
//        top: 55px;
//        right: 0;
        vertical-align: top;
        cursor: pointer;
        background: url('../img/ic-close-form.png') 0 0 no-repeat
    }
}

label {
    &.error {
        color: red;
        display: block;
        font-size: 14px;
        height: 15px;
        margin: 3px 0;
        text-align: left;
    }
    &.valid {
        color: #19b000;
    }
}