.friends-state {
    margin-top: 50px !important;
    @media #{$mobile} {
        margin-top: 30px !important;
    }
    &__list {
        margin-left: 45px;
        margin-top: -5px;
        margin-bottom: 30px;
        &._m-none {
            margin: 0;
        }
        @media #{$tablet} {
            margin-left: 0;
            text-align: center;
        }
        @media #{$mobile} {
            margin-left: 15px;
            margin-top: -5px;
            margin-bottom: 30px;
        }
        li {
            @include list-inl(0);
            @include pr-rg(18px, 18px);
            width: 23%;
            margin-left: -4px;
            text-align: center;
            border-right: 1px solid #636363;
            color: #636363;
            &:last-child {
                border-right: none;
            }
            @media #{$tablet} {
                width: 250px;
                margin-top: 10px;
            }
            @media #{$mobile} {
                width: 220px;
                margin: 5px;
                border: none;
                text-align: left;
            }
            a {
                @include pr-rg(18px, 18px);
                color: #636363;
                &:hover {
                    text-decoration: underline;
                }
                &._smaller-fz {
                    font-size: 16px;
                }
            }
            &.active {
                & > a {
                    @include pr-bld(18px, 18px)
                }
                & > span {
                    @include pr-bld(18px, 18px)
                }
            }
        }
    }
    &__all {
        padding-left: 30px;
        background: url('../img/f-state-ic1.png') 0 0 no-repeat;
    }
    &__active {
        padding-left: 30px;
        background: url('../img/f-state-ic2.png') 0 0 no-repeat;
    }
    &__non-active {
        padding-left: 30px;
        background: url('../img/f-state-ic3.png') 0 0 no-repeat;
    }
    &__moved {
        padding-left: 61px;
        background: url('../img/f-state-ic4.png') 33px 0 no-repeat;
        &._p-zero {
            padding-left: 30px;
            background: url('../img/f-state-ic4.png') 0 0 no-repeat;
        }
        @media #{$mobile} {
            padding-left: 30px;
            background: url('../img/f-state-ic4.png') 0 0 no-repeat;
        }
    }
}