.friends {
    min-height: 905px;
    border-top: 1px solid transparent;
    h5 {
        @include pr-bld(25px, 25px);
        margin: 45px 0 10px;
        padding-left: 27px;
        text-align: center;
        color: $text;
    }
    p {
        @include pr-rg(20px, 20px);
        padding-left: 15px;
        text-align: center;
        color: #9e9e9e;
    }
    &__list {
//        margin-top: 15px;
        @media #{$mobile} {
            text-align: center;
        }
        @media #{$tablet} {
            text-align: center;
        }
        li {
            @include list-inl(45px 2.5% 0 6.6%);
            width: 265px;
            vertical-align: top;
            text-align: center;
            @media #{$mobile} {
                margin: 10px;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
            a {
                @include pr-bld(25px, 20px);
                display: block;
                margin: 21px 0 10px;
                padding-left: 17px;
                text-align: center;
                color: #52b4fe;
            }
        }
    }
    &__logo-ic {
        display: block;
        margin: 0 auto;
        border-radius: 100%;
        border: 1px solid #4fb2fe;
        width: 258px;
        height: 258px!important;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__id {
        @include pr-rg(20px, 20px);
        overflow: hidden;
        text-align: center;
//        padding-left: 48px;    
        color: #9e9e9e;
    }
}