.friend {
    float: right;
    max-width: 457px;
    width: 100%;
    border: 1px solid $border;
    border-radius: 5px;
    background: #e1f2ff;
    @media #{$tablet} {
        float: none;
        max-width: 477px;
        margin: 0 auto 10px;
    }
    @media #{$mobile} {
        float: none;
        max-width: 477px;
        margin: 0 auto 10px;
    }
    &__logo {
        @include r-img(105px, 105px);
        border: 3px solid #860f89;
        @media #{$mobile} {
            margin: 0 auto;
        }
    }
    &__left {
        float: left;
        width: 30%;
        @media #{$mobile} {
            float: none;
            width: auto;
            margin-bottom: 10px;
        }
    }
    &__right {
        float: right;
        margin-top: 2px;
        width: 70%;
        text-align: left;
        @media #{$mobile} {
            float: none;
            margin: 2px auto;
            width: auto;
            text-align: center;
        }
    }
    &__user-name {
        @include pr-bld(20px, 20px);
        margin-bottom: 12px;
        padding-left: 9px;
        color: $text;
        @media #{$mobile} {
//            text-align: center;
        }
    }
    &__friends-number {
        @include pr-rg(18px, 20px);
        padding-left: 38px;
        margin-bottom: 25px;
        color: $text;
        background: url(../img/f-state-ic1.png) 10px 0 no-repeat;
        @media #{$mobile} {
            background: none;
        }
    }
}