.inter-info {
    max-width: 960px;
    width: 100%;
    margin: 0 auto 60px;
    border-radius: 4px;
    border: 1px solid #3991db;
    &._p-width {
        max-width: 458px;
        width: 100%;
        margin: 0 auto;
    }
    @media #{$mobile} {
        width: 98%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &__wrapper {
        display: table;
        width: 100%;
        @media #{$mobile} {
                display: block;
            }
    }
    &__title {
        @include pr-bld(16px, 16px);
        display: table-cell;
        width: 193px;
        height: 40px;
        padding-top: 12px;
        text-align: center;
        background: #b3deff;
        border-right: 1px solid #4aaffe;
        color: $text;
        &:last-child {
            border: none;
        }
        @media #{$mobile} {
            margin-left: 0;
            float: left;
            width: 25%;
            font-size: 12px;
            text-align: center;
            vertical-align: top;
            border: none;
            &:last-child {
                padding-top: 0;
            }
            }
        &._d-block {
            @media #{$mobile} {
                display: block;
                width: 100%;
                margin-left: 0;
            }
        }
    }
    &__thead {
        display: table-row;
        width: 100%;
        @media #{$mobile} {
             display: block;
             width: 100%;
            border-bottom: 1px solid #000;
        }
    }
    &__trow {
        display: table-row;
        @media #{$mobile} {
                display: block;
                width: 100%;
                border-bottom: 1px solid #a0d1f7;
            &:last-of-type {
                border-bottom: none;
            }
            }
        &._light {
            background: #f3faff;
        }
        &._deep {
            background: #e1f2ff;
        }
    }
    &__date-time,
    &__ip-numbers,
    &__country,
    &__browser,
    &__autorization {
        @include pr-rg(16px, 16px);
        display: table-cell;
        height: 40px;
        padding-top: 12px;
        text-align: center;
        border-right: 1px solid #4aaffe;
        color: $text;
        &:last-child {
            border: none;
        }
        @media #{$mobile} {
            display: inline-block;
            margin-left: -4px;
            width: 25%;
            height: 30px;
            text-align: center;
            font-size: 11px;
            border: none;
            overflow: hidden;
        }
    }
    //for payments history
    &__title {
        &._p-mobile {
            @media #{$mobile} {
                
            width: 33.3%;
            }
        }
        &._pt {
            padding-top: 12px;
        }
    }
    &__date-time,
    &__ip-numbers,
    &__country,
    &__browser {
        &._p-width {
            width: 25%;
        }
    }
    &__ip-numbers,
    &__country,
    &__browser {
        &._p-width {
            @media #{$mobile} {
            width: 33%;
            }
        }
    }
    &__ip-numbers {
        span.ic-dollar {
            @include pr-rg(16px, 16px);
            position: relative;
            color: $text;
            &::after {
                position: absolute;
                content: '';
                width: 11px;
                height: 20px;
                right: -20px;
                top: 3px;
                background: url('../img/options-ic-value-dollar-2.png') 0 0 no-repeat;
                
            }
        }
    }
    &__date-time {
        &._d-block {
            @media #{$mobile} {
                display: block;
                width: 100%;
            }
        }
    }
}