.message {
    &._decor {
        max-width: 960px;
        width: 100%;
        margin: 40px auto 0;
        border: 1px solid #4aaffe;
        border-radius: 5px;
        background: #f3faff;
    }
    &__title {
        margin-left: -80px;
        @media #{$mobile} {
            margin-left: -30px;
        }
    }
    &__back {
        @include pr-bld(14px, 14px);
        float: left;
        padding: 13px 0 0 32px;
        margin-left: 20px;
        color: #fff;
        background: url('../img/ic-back-white.png') 9px 13px no-repeat;
        @media #{$mobile} {
            padding: 13px 0 0 20px;
            background: url('../img/ic-back-white.png') 0px 13px no-repeat;
        }
        &:hover {
            color: #000;
            background: url('../img/ic-back-black.png') 9px 13px no-repeat;
            @media #{$mobile} {
                background: url('../img/ic-back-black.png') 0px 13px no-repeat;
            }
        }
    }
    &__block-wrapper {
        &-opponent {
            float: left;
        }
        &-user {
            float: right;
        }
    }
    &__wrapper {
        padding: 20px;
        height: 930px;
        overflow: hidden;
    }
    &__opponent {
        &-logo {
            @include r-img(60px, 60px);
            float: left;
            margin-right: 20px;
            border: 3px solid #4aaffe;
            @media #{$mobile} {
                margin-bottom: 15px;
            }
        }
        &-message {
            @include pr-rg(16px, 20px);
            padding: 12px 20px 5px 20px;
            margin: 0 0 30px;
            max-width: 470px;
            width: 100%;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            color: #36374c;
            background: #fff;
            box-shadow: 0 8px 15px 6px #d0d7dc;
        }
    }
    &__text {
        @include pr-rg(16px, 20px);
        display: block;
        margin-bottom: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 470px;
        width: 100%;
        a {
            @include pr-rg(16px, 20px);
            color: #00a3af;
            border-bottom: 1px solid #bcdfe3;
            &:hover {
                border-bottom: none;
            }
        }
    }
    &__pdf {
        display: inline-block;
        padding-left: 60px;
        max-width: 470px;
        width: 100%;
        height: 80px;
        background: #fff url('../img/ic-pdf.png') 0 0 no-repeat;
        a {
            @include pr-rg(16px, 20px);
            display: inline-block;
            padding-top: 45px;
            margin-left: 10px;
            vertical-align: bottom;
            color: #00a3af;
            border-bottom: 1px solid #bcdfe3;
            &:hover {
                border-bottom: none;
            }
        }
    }
    &__doc {
        display: inline-block;
        padding-left: 60px;
        max-width: 470px;
        width: 100%;
        height: 80px;
        text-overflow: ellipsis;
        background: #fff url('../img/ic-doc.png') 0 0 no-repeat;
        a {
            @include pr-rg(16px, 20px);
            display: inline-block;
            padding-top: 45px;
            margin-left: 10px;
            vertical-align: bottom;
            color: #00a3af;
            border-bottom: 1px solid #bcdfe3;
            &:hover {
                border-bottom: none;
            }
        }
    }
    &__time {
        @include pr-rg(12px, 20px);
        float: left;
        padding-right: 20px;
        color: #d9d9d9;
        &._color {
            color: #cbcbcb;
        }
    }
    &__date {
        @include pr-rg(12px, 20px);
        float: right;
        color: #d9d9d9;
        &._color {
            color: #cbcbcb;
        }
    }
    &__user {
        &-logo {
            @include r-img(60px, 60px);
            float: right;
            margin-left: 20px;
            border: 3px solid #4aaffe;
            @media #{$mobile} {
                margin-bottom: 15px;
            }
        }
        &-message {
            @include pr-rg(16px, 20px);
            padding: 15px 20px 5px 20px;
            margin: 0 0 30px;
            max-width: 470px;
            width: 100%;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
            color: #36374c;
            background: #e1f2ff;
            box-shadow: 0 8px 15px 6px #d0d7dc;
        }
    }
}