// окно входа
#personal-settings {
    margin: 0;
}
.m-enter {
    display: none;
    padding-bottom: 20px;
    margin: 0 auto;
    border: 1px solid #3991db;
    border-radius: 4px;
    background: #e1f2ff;
    &__group {
        font-size: 0;
        line-height: 0;
    }
    &__header {
        @include pr-bld(20px, 40px);
        margin-bottom: 13px;
        text-align: center;
        color: #fff;
        background: #4aaffe;
        &._mb {
            margin-bottom: 30px;
        }
        &._mb-24 {
            margin-bottom: 24px;
        }
        &._mb-none {
            margin-bottom: 0;
        }
    }
    &__wrapper {
        margin: 0 auto;
        
        + .slimScrollBar {
            right: 7px !important;
        }
        &._faq-width {
            // modal faq
            position: static;
            content: none;
            max-height: 466px;
            max-width: 795px;
            width: 100%;
            margin: 0 auto;
            padding: 10px 30px;
        }
        &._connect-width {
            // modal connect width us
            max-width: 960px;
            width: 100%;
            padding: 0 20px;
        }
        &._connect-width-2 {
            @include pr-bld(18px, 24px);
            position: absolute;
            top: 40%;
            height: 100px;
            max-width: 960px;
            width: 100%;
            text-align: center;
            padding: 0 30px;
            color: $text;
        }
        &._rules-width {
            max-width: 790px;
            max-height: 525px;
            width: 100%;
        }
    }
    &__line {
        position: relative;
        @media #{$mobile} {
            padding: 0 10px;
        }
        &::before {
            position: absolute;
            content: '';
            margin-left: -45%;
            left: 50%;
            top: 85px;
            width: 90%;
            height: 1px;
            background: #3991db;
        }
    }
    &__inputs {
        max-width: 435px;
        margin: 0 auto;
        div {
            em {
                @include pr-rg(14px,
                14px);
                display: block;
                height: 15px;
                margin: 3px 0;
                text-align: left;
                color: #ff0000;
                label {
                    &.error {
                        color: red;
                        display: block;
                        font-size: 14px;
                        height: 15px;
                        margin: 3px 0;
                        text-align: left;
                    }
                    &.valid {
                        color: #19b000;
                    }
                }
            }
        }
        label {
            @include pr-rg(16px, 16px);
            color: $text;
        }
    }
    &__input {
        display: block;
        margin: 5px 0 0 0;
        padding-left: 10px;
        max-width: 435px;
        width: 100%;
        height: 38px;
        border: 1px solid #3991db;
        color: #3991db;
        border-radius: 4px;
        outline: none;
        background: #fff url('../img/ic-pensil.png') 98% 12px no-repeat;
    }
    &__forget-password {
        @include pr-rg(14px,
        16px);
        display: block;
        text-align: center;
        color: #949494;
        &:hover {
            text-decoration: underline;
        }
    }
    &__or {
        @include pr-rg(14px,
        16px);
        position: relative;
        width: 45px;
        display: block;
        margin: 10px auto 15px;
        text-align: center;
        color: #000;
        background: #e1f2ff;
        z-index: 5;
    }
    em,
    &__validation-res {
        @include pr-rg(14px,
        14px);
        display: block;
        height: 15px;
        margin: 3px 0;
        text-align: left;
        color: #ff0000;
    }
    &__list {
        li {
            margin-bottom: 15px;
            border-bottom: 1px solid #4aaffe;
        }
        p {
            @include pr-rg(14px,
            16px);
            padding-bottom: 20px;
            color: $text;
        }
    }
    &__link {
        @include pr-bld(16px,
        16px);
        padding-bottom: 5px;
        color: #3991db;
        &:hover {
            color: #000;
        }
    }
    &__input-1, // inputs for contact width us
    &__input-2,
    &__input-3 {
        display: inline-block;
        width: 278px;
        @media #{$mobile} {
            width: auto;
        }
        @media #{$tablet} {
            width: 29.5%;
        }
        &.valid {
            margin: 0 30px 0 0;
            &:last-child {
                margin: 0;
            }
            .form__hint {
                position: absolute;
                left: -40px;
                top: 5px;
                width: 20px;
                height: 20px;
                background: url('../img/ic-valid.png') 0 0 no-repeat;
            }
        }
        &.error {
            margin: 0 30px 0 0;
            &:last-child {
                margin: 0;
            }
            .form__hint {
                background: rgba(0, 0, 0, 0) url("../img/ic-invalid.png") no-repeat scroll 0 0;
                height: 20px;
                left: -35px;
                position: absolute;
                top: 10px;
                width: 20px;
            }
        }
        @media #{$mobile} {
            display: block;
            input {
                width: 100%;
            }
        }
        &__label {
            @include pr-rg(16px,
            16px);
            color: $text;
        }
        input {
            display: block;
            margin: 5px 0 0 0;
            padding-left: 10px;
            width: 278px;
            height: 38px;
            border: 1px solid #3991db;
            color: #3991db;
            border-radius: 4px;
            outline: none;
            background: #fff url('../img/ic-pensil.png') 96% 12px no-repeat;
            @media #{$mobile} {
                width: 100%;
            }
            @media #{$tablet} {
                width: 100%;
            }
        }
    }
    &__input-1,
    &__input-2 {
        vertical-align: top;
        margin: 0 30px 25px 0;
        @media #{$mobile} {
            margin-right: 0;
        }
    }
    &._faq {
        display: block;
        max-width: 850px;
    }
    &._connect {
        max-width: 960px;
        width: 100%;
        min-height: 416px;
    }
    &._connect-send {
                display: block;
                position: relative;
                max-width: 960px;
                width: 100%; 
                height: 240px;
        }
    &._rules {
        display: block;
        max-width: 852px;
    }
    &__rules {
        padding: 0 30px;
        li {
            margin-bottom: 30px;
        }
        h3 {
            @include pr-bld(16px,
            16px);
            color: $text;
        }
        p {
            @include pr-rg(14px,
            16px);
            color: $text;
        }
    }
    &__message {
        @include pr-rg(14px,
        16px);
        max-width: 900px;
        width: 100%;
        height: 150px;
        padding: 10px 0 0 10px;
        border: 1px solid #3991db;
        border-radius: 4px;
        outline: none;
        background: #fff url('../img/ic-pensil.png') 99% 12px no-repeat;
        color: #3991db;
    }
    &__textarea {
        @include pr-rg(16px,
        16px);
        color: $text;
        label {
            @include pr-rg(16px,
            16px);
            color: $text;
        }
    }
}

.fancybox-close {
    top: -28px!important;
    right: -22px!important;
    height: 22px!important;
    width: 22px!important;
    background: url('../img/m-close.png') 0 0 no-repeat!important;
    @media #{$mobile} {
            top: -24px !important;
            right: 0 !important;
        }
    @media #{$tablet} {
        top: -24px !important;
            right: 0 !important;
    }
}

// password recover
.p-recover {
    position: static;
    display: none;
    max-height: 250px;
    &__wrapper {
        max-width: 540px;
    padding: 0 10px;
        margin: 0 auto;
    }
    &__inputs {
        max-width: 435px;
        margin: 30px auto 0;
    }
    &__return {
        @include pr-rg(14px,
        16px);
        display: block;
        text-align: center;
        color: #949494;
    }
}

// send message

.send-message {
    display: block;
    max-width: 600px;
    width: 100%;
    min-height: 370px;
    padding-bottom: 10px;
    border: 1px solid #4aaffe;
    border-radius: 5px;
    background: #e1f2ff;
    .emojionearea .emojionearea-button.active+.emojionearea-picker-position-top {
        @media #{$mobile} {
    left: -40px;
    }
    }
    &__wrapper {
    padding: 0 20px;
    }
    &__footer {
        overflow: hidden;
    }
    &__form {
        position: relative;
        .emojionearea {
            position: initial !important;
        
        .emojionearea-editor {
//            padding: 6px 80px 6px 12px !important;
             max-height: 120px!important;
             min-height: 120px!important;
            padding-top: 0!important;
            padding-bottom: 0!important;
            padding-right: 10px !important;
            width: auto!important;
            word-wrap: break-word;
            @media #{$mobile} {
//                padding: 0 !important;
                // height: auto!important;
                width: auto!important;
                padding-top: 10px !important;
                padding-bottom: 10px!important;
//                overflow: hidden;
            }
        }
            }
        .emojionearea-button {
            top: 16px !important;
            right: 50px !important;
            margin-right: 0 !important;
            @media #{$mobile} {
                top: 45px !important;
                right: 15px !important;
            }
        }
        .emojionearea .emojionearea-button>div {
            background: url('../img/ic-smile.png') no-repeat !important;
            &:hover {
                background: url('../img/ic-smile-hover.png') no-repeat !important;
            }
        }
    }
//    .emojionearea .emojionearea-picker.emojionearea-picker-position-top {
//        @mobile #{$mobile} {
//            right: -39px !important;
//    }
//    }
    &__field {
        @include pr-rg(16px, 20px);
        max-width: 560px;
        width: 100%;
        max-height: 141px;
        padding: 6px 80px 6px 10px !important;
        border: 1px solid #4aaffe !important;
        white-space: normal;
        outline: none;
        border-radius: 5px;
        // overflow-y: scroll;
        overflow: hidden;
//        overflow-y: scroll;
        color: $text;
        @media #{$mobile} {
            padding: 0px 50px 10px 10px !important;
        }
    }
    &__up-files {
        float: left;
        margin: 10px 0 0;
        white-space: nowrap;
        @media #{$mobile} {
            float: none;
            display: block;
        }
        &-block {
            margin-bottom: 5px;
            .close {
                display: inline-block;
                margin-left: 10px;
                margin-top: 2px;
                width: 10px;
                height: 10px;
                vertical-align: top;
                cursor: pointer;
                background: url('../img/ic-close.png') 0 0 no-repeat;
            }
        }
    }
    &__uploaded {
        @include pr-rg(16px, 16px);
        display: inline-block;
        max-width: 260px;
        width: 100%;
        padding-left: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: url('../img/ic-attach-sm.png') 0 1px no-repeat;
        color: $text;
        @media #{$mobile} {
            width: 90%;
        }
    }
    &__button {
        float: right;
        padding: 25px 0 10px;
        @media #{$mobile} {
            float: none;
            display: block;
            padding-top: 5px;
        }
    }
    &__input-file {
        position: absolute;
        padding: 10px;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 18px;
        background: url('../img/ic-attach.png') no-repeat;
        cursor: pointer;
        overflow: hidden;
        padding: 0;
        .multifile_container {
            display: none;
            width: auto;
            position: relative;
            left: -100px;
            width: 66px;
            height: 75px;
            background: url('../img/ic-pdf.png') 0 0 no-repeat;
            
        }
        &._input-file {
            top: 10px;
        }
        @media #{$mobile} {
//            right: 35px;
        }
        input {
            opacity: 0;
            font-size: 10px;
            height: 10px;
            padding: 15px;
            margin: 0 0 0 0px;
            border: 0 none;
            cursor: pointer;
        }
    }
    &__smiles {
        position: absolute;
        display: none;
        top: 18px;
        right: 60px;
        width: 21px;
        height: 21px;
        cursor: pointer;
        background: url('../img/ic-smile.png') no-repeat;
        @media #{$mobile} {
            top: 48px;
            right: 20px;
        }
        &:hover {
            background: url('../img/ic-smile-hover.png') no-repeat;
        }
    }
    ::-webkit-input-placeholder {
        @include pr-rg(16px, 20px);
        color: #a5a5a5;
    }
    ::-moz-placeholder {@include pr-rg(16px, 20px);
                        color: #a5a5a5;}
    :-moz-placeholder {@include pr-rg(16px, 20px);
                        color: #a5a5a5;}
    :-ms-input-placeholder {@include pr-rg(16px, 20px);
                            color: #a5a5a5;}

}

#connect-name {
    &:valid {
        & + span {
            &::after {
                content: '| Всё правильно';
                color: green;
            }
        }
    }
    &:invalid {
        & + span {
            &::after {
                content: '| Неккоректно введено имя';
                color: red;
            }
        }
    }
}
#connect-mail {
    &:valid {
        & + span {
            &::after {
                content: '| Всё правильно';
                color: green;
            }
        }
    }
    &:invalid {
        & + span {
            &::after {
                content: '| Неккоректно введен e-mail';
                color: red;
            }
        }
    }
}
#connect-sms {
    &:valid {
        & + span {
            &::after {
                content: '| Всё правильно';
                color: green;
            }
        }
    }
    &:invalid {
        & + span {
            &::after {
                content: '| Введите тему сообщения';
                color: red;
            }
        }
    }
}

#connect-message {
    &:valid {
        & + span {
            &::after {
                content: '| Всё правильно';
                color: green;
            }
        }
    }
    &:invalid {
        & + span {
            &::after {
                content: '| Введите текст';
                color: red;
            }
        }
    }
}

input[type="password"] {
    color: #3991db;
    font-size: 16px;
    -webkit-text-security: square;
}

.fancybox-inner {
    height: auto!important;
}

textarea {
    resize: none;
}
#emailchange2 {
    width: 430px;
    display: block;
    @media #{$mobile} {
        width: 100%;
    }
}
#change-password-modal-form input {
    width: 430px;
    display: block;
    @media #{$mobile} {
        width: 100%;
    }
}
    // centering smiles block for 320px resolution
.emojionearea .emojionearea-button.active+.emojionearea-picker-position-top {
//    @media #{$mobile-sm-2} {
//    right: 100px !important;    
//    }
    @media #{$mobile} {
    left: -93px;
    }
}

