.navigation {
    position: relative;
    height: 60px;
    line-height: 56px;
    border-bottom: 3px solid #2c76ba;
    background: linear-gradient(to bottom, #52b3fe, #3da2fe);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#52b3fe, endColorstr=#3da2fe)";
    box-shadow: 0 4px 15px 0 #d1d1d1;
    z-index: 10;
    @media #{$mobile} {
        display: none;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 150;
        &.nav-show {
            display: block;
        }
    }
    &__list {
        position: relative;
        @media #{$mobile} {
            padding-left: 50px;
            padding-top: 10px;
        }
        @media #{$tablet} {
            text-align: center;
        }
        li {
            @include list-inl(0);
            line-height: normal;
            vertical-align: middle;
            text-align: left;
            &._indent-2 {
                margin: 0 0 0 3%;
                @media #{$mobile} {
                    position: static;
                    padding: 0 0 10px 55px;
                    &::before {
                        position: absolute;
                        content: '';
                        height: 1px;
                        left: 20px;
                        right: 20px;
                        top: 50px;
                        background: transparent;
                    }
                }
                @media #{$tablet} {
                    margin-left: 0;
                }
            }
            &._indent-3 {
                margin: 0 0 0 2%;
            }
            &._indent-4 {
                margin: 0 0 0 9%;
            }
            &._indent-5 {
                margin: 0 0 0 8.9%;
            }
            &._indent-6 {
                margin: 0 0 0 2.8%;
            }
            &._indent-7 {
                margin: 0 0 0 2.3%;
            }
            &._indent-8 {
                margin: 0 0 0 14.1%;
            }
            &._indent-9 {
                margin: 0 0 0 1%;
            }
            @media #{$mobile} {
                display: block;
                margin: 15px!important;
                &._indent-1 {
//                    display: none;
                }
            }
        }
    }
    &__user-logo {
        position: absolute;
        width: 90px;
        height: 90px;
        top: -17px;
        left: 52px;
        border-radius: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        &::before {
            position: absolute;
            content: '';
            width: 80px;
            height: 23px;
            bottom: -6px;
            left: 6px;
            background: url('../img/user-logo-bottom2.png') 0 0 no-repeat;
        }
        &::after {
            position: absolute;
            content: '';
            width: 97px;
            height: 27px;
            top: -4px;
            left: -2px;
            background: url('../img/user-logo-top-3.png') 0 0 no-repeat;
        }
        @media #{$tablet} {
            display: none;
            top: -10px;
            left: 182px;
            &::before {
                content: none;
            }
        }
        @media #{$mobile} {
//            display: none;
            width: 60px;
            height: 60px;
            top: 7px;
            //left: 0;
            &::before {
                content: none;
            }
            &::after {
                content: none;
            }
        }
    }
    &__user-name {
        padding: 2px 7% 0 11%;
        margin-left: 0;
        border-right: 1px solid #fff;
        span {
            @include pr-bld(14px,
            24px);
            padding-left: 0!important;
            color: #fff;
        }
        @media #{$mobile} {
            padding: 0;
            border: none;
        }
        @media #{$tablet} {
            padding: 2px 2% 0 1%;
        }
    }
    &__main {
        @include pr-bld(16px,
        24px);
        display: block;
        height: 25px;
        padding-left: 25px;
        color: #fff;
        background-image: url(../img/nav-ic/nav.png);
        background-position: 0px -316px;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        &:hover {
            color: #000;
            background-position: 0px -276px;
        }
    }
    &__cab {
        @include pr-bld(16px,
        24px);
        display: block;
        padding-left: 25px;
        color: #fff;
        background-image: url(../img/nav-ic/nav.png);
        background-position: 0px -196px;
        background-repeat: no-repeat;
        width: 16px;
        height: 20px;
        &:hover {
            background-position: 0px -156px;
            color: #000;
        }
    }
    &__message {
        @include pr-bld(16px,
        24px);
        //        display: block;
        padding-left: 25px;
        color: #fff;
        background-image: url(../img/nav-ic/nav.png);
        background-position: 0px -38px;
        background-repeat: no-repeat;
        width: 16px;
        height: 20px;
        &:hover {
            color: #000;
            background-position: 0px 0px;
        }
        &.current {
            color: #000;
            background-position: 0px 0px;
        }
    }
    &__friends {
        @include pr-bld(16px,
        24px);
        position: relative;
        //        display: block;
        padding-left: 25px;
        color: #fff;
        background-image: url(../img/nav-ic/nav.png);
        background-position: 0px -76px;
        background-repeat: no-repeat;
        width: 16px;
        height: 20px;
        &:hover {
            color: #000;
            background-position: 0px -116px;
        }
    }
    &__settings {
        @include pr-bld(16px,
        24px);
        display: block;
        padding-left: 25px;
        color: #fff;
        background-image: url(../img/nav-ic/nav.png);
        background-position: 0px -436px;
        background-repeat: no-repeat;
        width: 16px;
        height: 20px;
        &:hover {
            color: #000;
            background-position: 0px -236px;
        }
    }
    &__bell {
            display: block;
            background-image: url(../img/nav-ic/nav.png);
            background-position: 0px -519px;
            width: 20px;
            height: 23px;
        &:hover {
            background-position: 0px -476px;
        }
        
    }
    &__exit {
        position: relative;
        display: block;
        background-image: url(../img/nav-ic/nav.png);
        background-position: 0px -356px;
        width: 22px;
        height: 20px;
        &:hover {
            background-position: 0px -396px;
            &::after {
                @include pr-rg(16px,
                24px);
                position: absolute;
                content: attr(data-title);
                padding: 5px 5px 0;
                width: 70px;
                height: 30px;
                left: -35px;
                bottom: -58px;
                text-align: center;
                border-radius: 5px;
                border: 2px solid #4aaffe;
                background: #fff;
                color: $text;
                z-index: 98;
            }
            &::before {
                position: absolute;
                content: "";
                left: -5px;
                bottom: -21px;
                width: 27px;
                height: 12px;
                background: url('../img/arr-tooltip.png') 0 0 no-repeat;
                z-index: 99;
            }
        }
    }
    &__hold-3 {
        position: relative;
        margin-right: 1%!important;
    }
    &__note-3 {
        @include pr-bld(18px,
        39px);
        position: absolute;
        display: block;
        width: 45px;
        height: 45px;
        top: -44px;
        left: -14px;
        text-align: center;
        border: 4px solid #50b2fe;
        border-radius: 100%;
        color: #3991db;
        background: #fff;
        @media #{$mobile} {
            left: 130px;
            top: -14px;
        }
    }
    &__hold-1 {
        position: relative;
        margin-right: 1%!important;
    }
    &__note-1 {
        @include pr-bld(18px,
        39px);
        position: absolute;
        display: block;
        width: 45px;
        height: 45px;
        top: -47px;
        left: 42px;
        text-align: center;
        border: 4px solid #50b2fe;
        border-radius: 100%;
        color: #3991db;
        background: #fff;
        @media #{$mobile} {
            left: 130px;
            top: -17px;
        }
    }
    &__hold-2 {
        position: relative;
        margin-right: 1%!important;
    }
    &__note-2 {
        @include pr-bld(18px,
        39px);
        position: absolute;
        display: block;
        width: 45px;
        height: 45px;
        top: -48px;
        left: 21px;
        text-align: center;
        border: 4px solid #50b2fe;
        border-radius: 100%;
        color: #3991db;
        background: #fff;
        @media #{$mobile} {
            left: 131px;
            top: -10px;
        }
    }
}

.b-hamburger {
    display: inline-block;
    position: fixed;
    width: 35px;
    height: 35px;
    top: 10px;
    right: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    z-index: 300;
    span {
        position: absolute;
        display: block;
        width: 23px;
        height: 2px;
        font-size: 0;
        background: #000;
        &.active {
            background: transparent;
            ;
        }
        &::before {
            position: absolute;
            content: '';
            top: -5px;
            left: 0;
            width: 23px;
            height: 2px;
            background: #000;
            transition: .3s;
        }
        &.active::before {
            transform: rotate(-45deg) translate(1px, 6px);
            top: -4px;
            left: 1px;
            width: 22px;
            background: #000;
        }
        &::after {
            position: absolute;
            content: '';
            top: 5px;
            left: 0;
            width: 23px;
            height: 2px;
            background: #000;
            transition: .3s;
        }
        &.active::after {
            transform: rotate(45deg) translate(0px, -8px);
            //                    top: 1px;
            width: 22px;
            background: #000;
        }
    }
}

.b-hamburger {
    display: none;
}

@media #{$mobile} {
    .b-hamburger {
        display: block;
    }
}