.no-friends {
    height: 335px;
    background: #fff;
    p {
        @include pr-bld(70px, 70px);
        position: relative;
        padding-top: 65px;
        text-align: center;
        color: #3991db;
        @media #{$mobile} {
            padding-top: 20px;
            font-size: 65px;
            line-height: 60px;
        }
        &::before {
            position: absolute;
            content: '';
            width: 76px;
            height: 124px;
            margin-left: -38px;
            top: 160px;
            left: 50%;
            background: url('../img/bad-smile.png') 0 0 no-repeat;
            @media #{$mobile} {
                top: 200px;
            }
        }
    }
}