.notification {
    &._custom-set {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
        border: 1px solid #4aaffe;
        border-radius: 5px;
        background: #f3faff;
        @media #{$mobile} {
            width: 98%;
        }
        &._mt {
            margin-top: 60px;
        }   
        &._mb {
            margin-bottom: 100px;
        }
    }
    &__wrapper {
        padding: 18px 20px 20px;
    }
    &__block {
        margin-bottom: 20px;
        border-bottom: 1px solid #4aaffe;
        @media #{$mobile} {
            margin-bottom: 20px;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        
    }
    &__head {
        margin-bottom: 13px;
        @media #{$mobile} {
            text-align: center;
        }
    }
    &__logo {
        display: inline-block;
        vertical-align: middle;
        margin-right: 14px;
        @media #{$mobile} {
            display: block;
            margin: 0 auto 15px;
        }
        &-ic {
        @include r-img(60px,60px);
        border: 3px solid #4aaffe;
            @media #{$mobile} {
                margin: 0 auto;
            }
        }
    }
    &__title {
        display: inline-block;
        max-width: 790px;
        vertical-align: middle;
        @media #{$tablet} {
            max-width: 620px;
        }
        &-text {
            @include pr-bld(20px, 20px);
            color: $text;
            @media #{$mobile} {
                font-size: 17px;
            }
        }
    }
    &__body {
        &-text {
            @include pr-rg(14px, 24px);
            color: $text;
        }
        &._mb {
            margin-bottom: 29px;
        }
    }
    &__footer {
        &._mb {
            margin-bottom: 20px;
            @media #{$mobile} {
                margin-bottom: 0;
            }
        }
        &-left {
            float: left;
            margin-top: 10px;
            @media #{$mobile} {
                float: none;
            }
        }
        &-right {
            float: right;
            margin-right: 6px;
            @media #{$mobile} {
                float: none;
                margin: 20px auto;
            }
        }
        &-team {
            @include pr-rg(16px, 16px);
            padding-left: 20px;
            margin-right: 24px;
            color: $text;
            background: url('../img/ic-fr-group.png') 0 2px no-repeat;
            @media #{$mobile} {
                float: left;
                padding-left: 18px;
                margin-right: 10px;
                vertical-align: middle;
                font-size: 13px;
                background: url('../img/ic-fr-group.png') 0 1px no-repeat;
            }
        }
        &-time-date {
            @media #{$mobile} {
            float: right;
            vertical-align: middle;
                font-size: 13px;
            }
        }
        &-time {
            @include pr-rg(14px, 14px);
            padding-left: 20px;
            color: $text;
            background: url('../img/ic-timing.png') 0 2px no-repeat;
            @media #{$mobile} {
                font-size: 13px;
            }
        }
        &-date {
            @include pr-rg(14px, 14px);
            color: $text;
            @media #{$mobile} {
                font-size: 13px;
            }
        }
    }
}