.options {
    float: right;
    max-width: 398px;
    width: 100%;
    @media #{$tablet} {
        float: none;
        margin: 0 auto;
    }
    @media #{$mobile} {
        float: none;
        margin: 0 auto;
    }
    &__list {
        padding-left: 8px;
        @media #{$mobile} {
            margin-top: 10px;
            padding-left: 3px;
        }
    }
    &__ic {
        @include r-img(50px, 50px);
        display: inline-block;
        margin: 0 20px 8px 0;
        vertical-align: middle;
        background: #50b2fe;
        @media #{$mobile} {
            margin: 0 10px 8px 0;
        }
        &._ic-1 {
            background: #50b2fe url('../img/options-ic-1.png') center no-repeat;
        }
        &._ic-2 {
            background: #50b2fe url('../img/options-ic-2.png') center no-repeat;
        }
        &._ic-3 {
            background: #50b2fe url('../img/options-ic-3.png') center no-repeat;
        }
        &._ic-4 {
            background: #50b2fe url('../img/options-ic-4.png') center no-repeat;
        }
    }
    &__property {
        @include pr-rg(20px, 20px);
        color: $text;
        @media #{$mobile} {
            font-size: 16px;
        }
        &._width-st {
            display: inline-block;
            width: 128px;
            @media #{$mobile} {
                width: 75px;
            }
        }
        &._width {
            display: inline-block;
            width: 155px;
        }
        &._width-less {
            display: inline-block;
            width: 130px;
        }
        &._p-left {
            padding-left: 30px;
            background: url('../img/options-ic-property-.png') 0 0 no-repeat;
        }
    }
    &__comission {
        position: relative;
        display: inline-block;
        width: 22px;
        height: 19px;
        background: url(../img/options-ic-property-.png) 0 0 no-repeat;
        &:hover {
            &::before {
                position: absolute;
                content: '';
                left: 0;
                bottom: -19px;
                width: 24px;
                height: 13px;
                background: url(../img/arr-tooltip.png) 0 0 no-repeat;
                z-index: 99;
                @media #{$mobile} {
                    left: -1px;
                    bottom: -24px;
                }
            }
            
            &::after {
                @include pr-rg(16px, 30px);
                position: absolute;
                content: attr(data-title);
                width: 400px;
                height: 30px;
                text-align: center;
                left: -20px;
                bottom: -50px;
                border: 2px solid #4aaffe;
                border-radius: 5px;
                background: #fff;
                z-index: 98;
                line-height: 30px;
                color: #000;
                @media #{$mobile} {
                    width: 305px;
                    height: 30px;
                    left: -62px;
                    bottom: -55px;
                }
            }
            
        }
    }
    &__value {
        @include pr-bld(20px, 20px);
        color: $text;
        @media #{$mobile} {
            font-size: 16px;
        }
        &._p-left {
            padding-left: 20px;
            background: url('../img/options-ic-value-dollar.png') 0 0 no-repeat;
        }
        &._green {
            display: inline-block;
            padding: 5px 0;
            max-width: 183px;
            width: 100%;
            font-size: 16px;
            text-align: center;
            border-radius: 50px;
            vertical-align: text-bottom;
            color: #fff;
            background: #72b315;
            @media #{$mobile} {
                max-width: 160px;
            }
        }
        &._red {
            display: inline-block;
            padding: 5px 0;
            max-width: 183px;
            width: 100%;
            font-size: 16px;
            text-align: center;
            border-radius: 50px;
            vertical-align: text-bottom;
            color: #fff;
            background: #fe5b5b;
            @media #{$mobile} {
                max-width: 160px;
            }
        }
        &._hidden {
            display: none;
        }
    }
}