.payments {
    &__more {
        position: relative;
        padding: 10px 0;
        text-align: center;
        background: #d6edff;
    }
    &__download-more {
        @include pr-rg(16px, 16px);
        position: relative;
        border-bottom: 1px solid #c1ced8;
        color: $text;
        &:hover {
            border-bottom: none;
        }
        &::before {
            position: absolute;
            content: '';
            width: 14px;
            height: 14px;
            top: 2px;
            left: -20px;
            background: url('../img/ic-d-more.png') 0 0 no-repeat;
        }
    }
}