.personal-data {
    &._custom-set {
        max-width: 963px;
        width: 100%;
        margin: 60px auto 60px;
        padding-bottom: 29px;
        border: 1px solid #4aaffe;
        border-radius: 5px;
        background: #f3faff;
        @media #{$mobile} {
            margin: 0 auto;
        }
    }
}