.phone-change {
    position: relative;
    max-width: 600px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #3991db;
    background: #e1f2ff;
    overflow: hidden;
    &__form {
        padding: 0 78px;
        @media #{$mobile} {
            padding: 0 25px;
            text-align: center;
        }
        }
    &__line {
            &::before {
            position: absolute;
            content: '';
            height: 2px;
            left: 30px;
            right: 30px;
            background: #4aaffe;
        }
    }
    &__wrapper {
        display: block;
        margin-bottom: 20px;
        text-align: center;
        &._mb {
            margin-bottom: 30px;
        }
    }
    &__send-againe {
        @include pr-bld(16px, 16px);
        border-bottom: 1px solid #c1ced8;
        color: $text;
    }
    &__text-message {
        @include pr-bld(18px, 20px);
        color: $text;
        max-width: 340px;
        width: 100%;
        margin: 0 auto 30px;
        text-align: center;
    }
}