.profit {
    max-width: 473px;
    width: 100%;
    border: 1px solid $border;
    border-radius: 5px;
    background: #e1f2ff;
    @media #{$tablet} {
        margin: 0 auto 10px;
        text-align: center;
    }
    @media #{$mobile} {
        margin: 0 auto 10px;
        text-align: center;
    }
    &__month {
        margin-bottom: 15px;
    }
    &__text {
        @include pr-rg(16px, 16px);
        display: inline-block;
        max-width: 275px;
        width: 100%;
        color: $text;
        &:last-of-type {
            margin-bottom: 0;
        }
        @media #{$mobile} {
            display: block;
            margin: 0 auto 10px;
        }
    }
    &__sum {
        @include pr-rg(20px, 20px);
        position: relative;
        display: inline-block;
        padding-left: 20px;
        color: $text;
        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 11px;
            height: 21px;
            background: url('../img/ic-dollar-middle.png') center no-repeat;
        }
        @media #{$mobile} {
            display: inline-block;
        }
    }
}