.ticket {
    float: left;
    max-width: 560px;
    width: 100%;
    @media #{$tablet} {
        float: none;
        max-width: 547px;
        margin: 0 auto;
    }
    @media #{$mobile} {
        float: none;
        max-width: 547px;
        margin: 0 auto;
    }
    &__decor {
        max-width: 547px;
        width: 100%;
        height: 29px;
        background: url('../img/ticket-bg-2.png') 0 0 repeat;
    }
    &__left {
        float: left;
        padding: 15px;
        max-width: 415px;
        width: 100%;
        background: #e0f1ff;
        @media #{$mobile} {
            width: 70%;
        }
    }
    &__right {
        float: left;
        padding: 13px;
        width: 132px;
        border-left: 1px dashed #cbd5dd;
        background: #e0f1ff;
        @media #{$mobile} {
            width: 30%;
        }
    }
    &__logo {
        margin: 0 auto;
        width: 140px;
        height: 140px;
    }
    &__barcode {
        margin: 0 auto;
        width: 64px;
        height: 144px;
    }
}