.type-message {
    &._decor {
        position: relative;
        max-width: 960px;
        width: 100%;
        margin: 21px auto 120px;
        border: 1px solid #4aaffe;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 3px 12px 0 #e3e3e3;
        &::before {
            position: absolute;
            content: '';
            width: 35px;
            height: 14px;
            left: 38px;
            top: -14px;
            background: url('../img/ic-type-msg-up2.png') 0 0 no-repeat;
        }
    }
    img.emojioneemoji {
        max-width: 24px !important;
        max-height: 24px !important;
    }
    &__wrapper {
        padding: 0px 20px 20px;
        white-space: nowrap;
        @media #{$mobile} {
            padding: 0px 10px 20px;
        }
    }
    &__user-logo {
        @include r-img(80px, 80px);
        display: inline-block;
        margin-top: 20px;
        vertical-align: top;
        border: 3px solid #4aaffe;
    }
    &__form {
            position: relative !important;
        display: inline-block;
        max-width: 834px;
        width: 100%;
        height: 90px;
        vertical-align: top;
        border: 0 !important;
        outline: 0 !important;
        @media #{$tablet} {
            width: 90%;
        }
        @media #{$mobile} {
            width: 75%;
        }
        textarea {
                border: 0 !important;
                outline: 0 !important;
        }
        .emojionearea {
            position: initial !important;
            border: none !important;
            outline: none !important;
            &.focused {
                border-color: #fff !important;
            }
            &:focus {
                border: none !important;
                outline: none !important;
            }
        
        .emojionearea-editor {
            max-height: 90px!important;
            min-height: 110px!important;
            padding-top: 10px!important;
//            padding-bottom: 15px!important;
            padding-right: 10px !important;
            width: auto!important;
            word-wrap: break-word;
            word-break: break-all;
            border: none !important;
            &:focus {
                border: 0 !important;
                outline: 0 !important;
            }
            @media #{$mobile} {
                min-height: 110px!important;
                width: auto!important;
                padding-bottom: 10px!important;
                padding-right: 30px !important;
            }
        }
            }
        .emojionearea-button {
            position: absolute !important;
            top: 20px !important;
            right: 30px !important;
            margin-right: 0 !important;
            @media #{$mobile} {
                top: 40px !important;
                right: 5px !important;
            }
        }
        .emojionearea .emojionearea-button>div {
            background: url('../img/ic-smile.png') no-repeat !important;
            &:hover {
                background: url('../img/ic-smile-hover.png') no-repeat !important;
            }
        }
        .send-message__input-file {
            top: 20px;
            right: -3px;
            @media #{$mobile} {
                top: 8px;
                right: 8px;
            }
        }
    }
    &__field {
        @include pr-rg(16px, 20px);
        max-width: 760px;
        width: 100%;
        height: 90px;
        border: none;
        outline: none;
        white-space: normal;
        color: $text;
        @media #{$tablet} {
            width: 90% !important;
        }
    }
    &__button {
        position: absolute;
        bottom: -95px;
        right: -21px;
        text-align: right;
        @media #{$tablet} {
            right: -8px;
        }
        @media #{$mobile} {
            margin-left: -100px;
            left: 50%;
            right: initial;
        }
    }
    // pdf, doc attach
    &__add-pdf,
    &__add-doc,
    &__add-img {
        position: absolute;
        display: none;
        top: 32px;
        right: 20px;
        &.show-ic {
        display: block;
        }
    }
    &__ic-pdf {
        width: 66px;
        height: 75px;
        background: url('../img/ic-pdf.png') 0 0 no-repeat;
    }
    &__ic-delete {
        cursor: pointer;
        &::before {
        position: absolute;
        content: '';
        width: 30px;
        height: 30px;
        top: -12px;
        right: -8px;
        background: url('../img/ic-delete-cart.png') 0 0 no-repeat;
        }
    }
    &__ic-doc {
        width: 66px;
        height: 75px;
        background: url('../img/ic-doc.png') 0 0 no-repeat;
    }
    &__ic-img {
        width: 70px;
        height: 70px;
        background: url('../img/ic-img.png') 0 0 no-repeat;
    }
}