// cabinet

.cabinet {
    &-bottom {
        &._custom-set {
        max-width: 960px;
        width: 100%;
        margin: 42px auto 56px;
            @media #{$tablet} {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            @media #{$mobile} {
                margin-bottom: 10px;
            }
    }
    }
    &._custom-set {
        max-width: 960px;
        width: 100%;
        margin: 42px auto 62px;
        @media #{$tablet} {
            margin-bottom: 10px;
        }
        @media #{$mobile} {
        margin-bottom: 10px;
    }
    }
    &__left {
        float: left;
        width: 50%;
        @media #{$tablet} {
            float: none;
            width: auto;
        }
        @media #{$mobile} {
            float: none;
            width: auto;
        } 
    }
    &__right {
        float: right;
        width: 50%;
        @media #{$tablet} {
            float: none;
            width: auto;
        }
        @media #{$mobile} {
            float: none;
            width: auto;
        }
    }
}

.user-info {
    max-width: 473px;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid $border;
    border-radius: 5px;
    background: #e1f2ff;
    @media #{$tablet} {
        margin: 0 auto 10px;
    }
    @media #{$mobile} {
        margin: 0 auto 10px;
    }
    &__wrapper {
        padding: 20px 20px 16px;
        &._c-padding {
            padding: 29px 20px 23px;
        }
        &._p-padding {
            padding: 20px 20px 19px;
        }
        &._f-padding {
            padding: 20px 20px 22px;
        }
    }
    &__block {
        margin-bottom: 4px;
    }
    &__inform {
        @media #{$mobile} {
            text-align: center;
        }
    }
    &__logo {
        @include r-img(160px, 160px);
        float: left;
        border: 3px solid #4aaffe;
        @media #{$mobile} {
            float: none;
            margin: 0 auto 20px;
        }
    }
    &__stat {
        float: right;
        max-width: 235px;
        width: 100%;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: -3px;
        @media #{$mobile} {
            float: none;
            margin: 0 auto;
        }
    }
    &__li {
        display: block !important;
        width: 100% !important;
        margin: 0 0 7px 0 !important;
        text-align: left !important;
        border-right: none !important;
        &:last-child {
            margin: 0 !important;
        }
    }
    &__name {
        @include pr-bld(20px, 20px);
        margin-bottom: 5px;
        padding-left: 2px;
        color: $text;
        @media #{$mobile} {
            text-align: center;
        }
    }
    &__status {
        &._active {
            @include pr-bld(16px, 16px);
            width: 185px;
            padding: 5px 0;
            margin-bottom: 10px;
            border-radius: 50px;
            text-align: center;
            background: #72b315;
            color: #fff;
            @media #{$mobile} {
                margin: 10px auto;
            }
        }
        &._non-active {
            @include pr-bld(16px, 16px);
            width: 185px;
            padding: 5px 0;
            border-radius: 50px;
            text-align: center;
            background: #fe5b5b;
            color: #fff;
            @media #{$mobile} {
                margin: 10px auto;
            }
        }
    }
    &__hint {
        position: relative;
        
    }
    &__question-ic {
        position: relative;
        float: left;
        width: 40px;
        height: 40px;
        background: url('../img/ic-question.png') 0 0 no-repeat;
        &:hover {
            &::before {
                position: absolute;
                content: '';
                left: 9px;
                bottom: -14px;
                width: 24px;
                height: 13px;
                background: url(../img/arr-tooltip.png) 0 0 no-repeat;
                z-index: 99;
                @media #{$mobile} {
                    left: 8px;
                }
            }
            
            &::after {
                @include pr-rg(16px, 30px);
                position: absolute;
                content: attr(data-title);
                width: 400px;
                height: 30px;
                text-align: center;
                left: -20px;
                bottom: -45px;
                border: 2px solid #4aaffe;
                border-radius: 5px;
                background: #fff;
                z-index: 98;
                line-height: 30px;
                color: #000;
                @media #{$mobile} {
                    width: 305px;
                    height: 60px;
                    left: -132px;
                    bottom: -75px;
                }
            }
            
        }
        @media #{$mobile} {
            float: none;
            display: inline-block;
            margin: 0 auto;
            margin-right: 15px;
            vertical-align: middle;
        }
    }
    &__input-button-wrapper {
        float: right;
        position: relative;
        margin-top: 7px;
        max-width: 375px;
        width: 100%;
        @media #{$tablet} {
            margin-top: 7px;
        }
        @media #{$mobile} {
            float: none;
            margin: 0 auto 0;
            display: inline-block;
//            width: 80%;
            max-width: 257px;
            vertical-align: middle;
        }
    }
    &__link {
        @include pr-bld(16px, 16px);
        padding-left: 20px;
        width: 100%;
        height: 28px;
        border: 1px solid $border;
        border-radius: 3px;
        outline: none;
        color: $text;
        background: #fff;
        &:hover {
            border: 1px solid #2f7000;
        }
        &:focus {
            border: 1px solid #2f7000;
        }
        @media #{$mobile} {
            @include pr-bld(14px, 14px);
            margin: 7px auto 0;
            padding-left: 5px;
//            width: 80%;
        }
    }
    &__hint {
        position: static;
        bottom: 1px;
        right: 8px;
        @media #{$mobile} {
//            top: 7px;
        }
            &:hover {
            &::after {
                position: absolute;
                content: attr(data-title);
                width: 180px;
                height: 30px;
                text-align: center;
                right: -20px;
                bottom: -45px;
                border: 2px solid #4aaffe;
                border-radius: 5px;
                background: #fff;
                z-index: 98;
                line-height: 30px;
                color: #000;
                @media #{$mobile} {
                    right: 45px;
                    bottom: -45px;
                }
            }
            &::before {
                position: absolute;
                content: '';
                right: -5px;
                bottom: -14px;
                width: 24px;
                height: 13px;
                background: url(../img/arr-tooltip.png) 0 0 no-repeat;
                z-index: 99;
                @media #{$mobile} {
                    right: 123px;
                    bottom: -14px;
                }
            }
        }
        
    }
    &__button {
//        width: 17px;
//        height: 17px;
//        border: none;
//        outline: none;
//        cursor: pointer;
//        background: #fff url('../img/ic-link.png') center no-repeat;
        background: #fff url("../img/ic-link.png") no-repeat scroll center center;
        border: medium none;
        cursor: pointer;
        height: 17px;
        outline: medium none;
        padding: 0;
        position: absolute;
        right: 6px;
        top: 6px;
        width: 17px;
        @media #{$mobile} {
            top: 13px;
        }
    }
}