.video {
    position: relative;
    height: 733px;
    border-top: 1px solid transparent;
    overflow: hidden;
    background-image: url('../img/video-3.jpg');
    background-size: cover;
    &__present {
        @include pr-rg(40px,
        50px);
        position: relative;
        display: block;
        padding: 100px 0 180px;
        text-transform: uppercase;
        color: #fff;
        &:hover {
            color: #3991db;
            &::before {
                background: url('../img/yt-ic-hover.png') 0 0 no-repeat;
            }
        }
        @media #{$mobile} {
            padding-top: 70px;
        }
        &::before {
            position: absolute;
            content: '';
            width: 85px;
            height: 85px;
            top: 216px;
            left: 141px;
            background: url('../img/yt-ic.png') 0 0 no-repeat;
            @media #{$mobile} {
                left: 100px;
                top: 186px;
            }
        }
    }
    &-show {
        display: none;
    }
}

video {
    width: 100%;
    height: auto;
    line-height: 0;
//    border: 5px solid #fff;
}